/*=========================*/
/*   Sweetalert2 Override  */
/*=========================*/
.swal2-popup {
	font-size: unset;
}

/*=========================*/
/*      Positioning		   */
/*=========================*/
.m-t-10 {
	margin-top: 10px !important;
}
/*=========================*/
/*      Custom Styles      */
/*=========================*/
.content-wrapper {
	height: calc(100% - 65px);
	overflow-y: auto;
}

.swal2-btn {
	margin: 0 0.5rem;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	margin-top: 0;
}

.sidebar-menu > li > a > .fas,
.sidebar-menu > li > a > .fab {
	width: 20px;
}

.treeview-menu > li > a > .fas,
.treeview-menu > li > a > .fab {
	width: 20px;
}

.main-header .sidebar-toggle:before {
	content: '\f0c9';
	font-family: 'Font Awesome\ 5 Free';
	font-weight: 900;
}

.bottom-nav-button-container {
	display: flex;
	justify-content: space-between;
}

textarea.not-resizeable {
	resize: none;
}
