.navbar-inverse {
		background-color : 	#D90000
		}
		
		.panel-footer {
		background-color : 	#D90000
		}
		.jumbotron {
		height:250px;
		}
		.dropdown-menu {
		background-color :  #FFB2B2
		}
		#btn1 {
		background-color: purple
		
		  
		}
		
		
		#pan {
			background-color : 	 #FFFFCF
		}
		
		#one {
			border: 2px ;
			margin-bottom:100px; 
			margin-left:350px; 
			width :500px;
		}
		
		#two{
			border: 2px ;
			margin-bottom:10px; 
			margin-left:350px; 
			width :500px;
		}
	#three{
			border: 2px ;
			margin-bottom:10px; 
			margin-left:470px; 
			
		}
	#four{
			border: 2px ;
			margin-bottom:50px; 
			margin-left:0px; 
			width :250px;
	
		}
	
	#five {
			border: 2px ;
			margin-bottom:30px; 
			margin-left:450px; 
			width :300px;
		}
		#six {
			border: 2px ;
			margin-bottom:100px; 
			margin-left:400px; 
			width :300px;
		}
		
		#text3{
		text-shadow:
			  0px 1px #000000,
			   0px 2px #000000,
			   0px -1px #000000,
			   0px 3px #000000,
			   0px 4px #000000,
			   0px 5px #000000,
			   0px 6px #000000,
			   0px 7px #000000,
			   0px 7px 10px #333;
		
		color:#ffffff;
		}
		#text1{
		text-shadow:
			  0px 1px #577079,
			   0px 2px #577079,
			   0px 3px #577079,
			   0px 4px #577079,
			   0px 5px #577079,
			   0px 6px #577079,
			   0px 7px #577079,
			   0px 7px 10px #333;
		
		color:#45BEF7;
		
		}
		.text2{
				 font-weight:700px;
				 font-color: #E68080;
				 font-size:35px;
				 background:#fafafa;
				 color:#91080b;
				 text-shadow:
				   1px 0px 0px #fff,
				   -1px 0px 0px #fff,
				   0px 1px 0px #fff,
				   0px -1px 0px #fff,
				   1px 1px 2px #000;
							}
		#p1 {
					background-color: #FFF0D1
		}
		
		#p2 {
					background-color: #944DFF
		}
	
		.thumbnail1 {background-color: #FFE0A3}
		.thumbnail2 {background-color: #D18CFF}
		.thumbnail3 {background-color: #8CFFE8}
		.thumbnail4 {background-color: #FF66FF}
		.thumbnail5 {background-color: #9999EB}
		.thumbnail6 {background-color: #75FF75}
		#w1 {
					background-color: #DBA6FF
		}
		
				#w2 {
					background-color: #CCCCFF
		}
		
.infobutton{
background-color:#FFC2FF;
color:black;
width:400px;
height : 400px;
background-size:100px auto;
background-attachment: fixed;
background-repeat : repeat;
background-position : right top;
border-radius:400em;

margin-left :50px;
margin-top : 30px;
margin-bottom : 30px;
}


.nice{
background-color:#FFC2FF;
color:black;
width:100px;
height : 100px;
background-size:100px auto;
margin-right: 50px;
border-radius:100em;
margin-left: 220px;
margin-bottom: 20px;
margin-top: 35px;
}
.nice1{
background-color:#FFC2FF;
color:black;
width:100px;
height : 100px;
background-size:100px auto;
margin-right: 50px;
border-radius:100em;
margin-left:180px;
margin-bottom: 20px;
}
.nice2{
background-color:#FFC2FF;
color:black;
width:100px;
height : 100px;
background-size:100px auto;
margin-right: 50px;
border-radius:100em;
margin-left:199px;
}
.nice3{
background-color:#BD59FF;
color:black;
width:100px;
height : 100px;
background-size:100px auto;

border-radius:100em;
margin-left: -110px;
margin-bottom: 0px;
margin-top:0px;
}
.nice4{
background-color:#BD59FF;
color:black;
width:100px;
height : 100px;
background-size:100px auto;

border-radius:100em;
margin-left: -60px;
margin-bottom: 15px;

}
.nice5{
background-color:#BD59FF;
color:black;
width:100px;
height : 100px;
background-size:100px auto;

border-radius:100em;
margin-left: -60px;
}
.nice6{
background-color:#BD59FF;
color:black;
width:100px;
height : 100px;
background-size:100px auto;

border-radius:100em;
margin-left: -110px;
margin-bottom: 20px;
margin-top: 15px;
}
.nice7{
background-color:#BD59FF;
color:black;
width:50px;
height : 50px;
background-size:50px 50px;

border-radius:50em;
margin-left:-45px;
margin-top: 50px;
margin-bottom:-350px;

}
.nice8{
background-color:#BD59FF;
color:black;
width:50px;
height : 50px;
background-size:50px 50px;

border-radius:50em;
margin-left:25px;
margin-top: 50px;


}
.ppria{

color:black;
width:100px;
height : 100px;


border-radius:100em;
margin-right:0px;
margin-left:200px;
margin-top: 50px;



}
.pwanita{

color:black;
width:100px;
height : 100px;


border-radius:100em;
margin-left:200px;
margin-right:200px;
margin-top: 10px;



}

#carousel-example-generic{
margin-top: -120px;
}
.jumbotron{
height:150px;
font-size : 32px;
margin-top: -80px;
}

.tooltip{position:absolute;padding:7px 9px;display:none; width:200px; height:100px;
font-size:15px;font-weight:bold;float:left;} 

.popover{position:absolute;padding:7px 9px;display:none; width:300px; height:120px;
font-size:15px;font-weight:bold;float:right;} 



